*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
nav a{
    font-size: 20px;
    float: right;
    text-decoration: none;
    color: black;
}
body{
    background: url('../images/background4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.greetings{
    padding-top:40px;
    line-height: 60px;
    width: 50%;
    height:400px;
  /* -webkit-border-radius: 54px;
   border-radius: 54px;
   background: #c1c1c1;
   -webkit-box-shadow: 30px 30px 45px #a4a4a4, -30px -30px 45px #dedede;
   box-shadow: 30px 30px 45px #a4a4a4, -30px -30px 45px #dedede; */
   background:transparent;
    border:2px solid rgba(255,255,255,2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 25px;
    
}
img{
    width:30%;
    padding-top: 30px;
    
}
.addanother{
   
    font-size: 15px;
    padding:10px;
    cursor: pointer;
    border-radius: 10px;
    background: orange;
    color:white;
}
/* .addanother:hover{
    background:dodgerblue;
} */
.logout{
  
    font-size: 15px;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background:red;
    color: white;
}
/* .logout:hover{
    background-color: tomato;
} */